.content {
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

.content > .box  {
    /*margin: 20px !important; */
}

div.lab-input {
    width: 30%;
    float: left;
}

div.lab-results {
    width: 70%;
    float: right;
}

.plot {
    width: 100%;
    height: 400px;
}